.mat-chip-menu {
    border-radius: 50px;    
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    padding: 7px 16px;
  text-align: center;
    border: 1px solid #B7B8BB;
    background-color: white;
}

.mat-chip-list-wrapper {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 100px!important;
}

.mat-chip-sub-menu {
  margin: 15px !important;
  max-width: 500px;
  background-color: #6c5495;
  font-size: 15px;
}

.border-test{
border-radius: 0px;
}