.example-button {
  margin: 10% auto;
  min-height: 400px;
  min-width: 400px;
  max-width: 600px;
  margin-top:1%;
  margin-left: 300px;
  border-radius: 30%;
  font-size: 40px;
}

::ng-deep .tooltip {
  background-color: black !important;
  font-size: 20px !important;
}