<div class="example-container">
  <button mat-raised-button #tooltip="matTooltip" matTooltip="Workforce Joining Formality" matTooltipPosition="right" matTooltipHideDelay="100000"
    aria-label="Button that displays a tooltip that hides when scrolled out of the container" class="example-button" matTooltipClass="tooltip">
    Onboarding
    </button>
    <button mat-raised-button #tooltip="matTooltip" matTooltip="Info about the action" matTooltipPosition="right" matTooltipHideDelay="100000"
      aria-label="Button that displays a tooltip that hides when scrolled out of the container" class="example-button">
      About FNZ
      </button>
      <button mat-raised-button #tooltip="matTooltip" matTooltip="Info about the action" matTooltipPosition="right" matTooltipHideDelay="100000"
        aria-label="Button that displays a tooltip that hides when scrolled out of the container" class="example-button">
        Development Cognizant Scope and Delivery
        </button>
        <button mat-raised-button #tooltip="matTooltip" matTooltip="Info about the action" matTooltipPosition="right" matTooltipHideDelay="100000"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container" class="example-button">
          UK Insurance and Wealth Management
          </button>
          <button mat-raised-button #tooltip="matTooltip" matTooltip="Info about the action" matTooltipPosition="right" matTooltipHideDelay="100000"
            aria-label="Button that displays a tooltip that hides when scrolled out of the container" class="example-button">
            Testing Cognizant Scope and Delivery
            </button>
</div>