<div class="faq-container">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let faq of faqList" (opened)="faq !== selectedFaq" (closed)="faq === selectedFaq" hideToggle="true">
            <mat-expansion-panel-header class="header" (click)="onFaqSelection(faq)">
                <mat-panel-description>
                    <mat-icon *ngIf="faq !== selectedFaq">add</mat-icon>
                    <mat-icon *ngIf="faq === selectedFaq">remove</mat-icon>
                </mat-panel-description>
                <mat-panel-description>
                    {{faq.Title}}
                </mat-panel-description>
                <mat-panel-description>
                    {{faq.Description}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p *ngIf="faq === selectedFaq">{{faq.Solution}}</p>
            <a *ngIf="faq && faq.Attachments" [href]="faq && faq.AttachmentUrl">{{faq && faq.AttachmentName}}</a>
        </mat-expansion-panel>
    </mat-accordion>
</div>