.title {
    flex: 1 1 auto;
    text-align: center;
    font-family: Garamond;
}

.header-logo {
    max-height: 64px;
    min-height: 64px;
}

.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}