<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <a class="navbar-brand" [href]="fnzUrl" target="_blank">
        <img class="header-logo" src="https://cognizantonline.sharepoint.com/sites/ukInsurance/FNZ/SiteAssets/Dev_Site/fnzmanagement/fnz_logo.png" alt="logo" />
    </a>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" mat-button mat-button-ripple mat-ripple [routerLink]="'dashboard'" [routerLinkActive]="'active'">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" mat-button mat-button-ripple mat-ripple [routerLink]="'faq'" [routerLinkActive]="'active'">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" mat-button mat-button-ripple mat-ripple [routerLink]="'diary'" [routerLinkActive]="'active'">Diary</a>
            </li>
        </ul>
    </div>
    <h1 class="title"><strong> {{ title }}! </strong></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <a [href]="ctsUrl" target="_blank">
        <img class="header-logo" src="https://cognizantonline.sharepoint.com/sites/ukInsurance/FNZ/SiteAssets/Dev_Site/fnzmanagement/cts_logo.png" alt="logo" />
    </a>
</nav>