.mat-chip-menu {
    min-width: 350px;
    max-width: 350px;
    min-height: 370px;
    max-height: 370px;
    text-align: center;
    border: 1px solid #6c98bf;
    border-radius: 30px;
    justify-content: center;
    overflow: hidden;
}

.img-zoom {
    transition: transform .4s;
}

.img-zoom:hover {
    transform: scale(1.3);
    transform-origin: 50% 50%;
    opacity: 0.5;
}

.mat-card-image {
    max-height: 395px;
    min-height: 395px;
}

.zoom-wrapper {
    transition: all 0.15s ease-in-out;
}

.zoom-wrapper .zoomed {
    transform: scale(1.25);
}

.mat-chip-add-menu {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    border: 3px dotted #B7B8BB;
    background-color: whitesmoke;
    justify-content: center;
}

.tp-box {
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    text-align: center;
    border-radius: 0px;
    justify-content: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: transform 1s;
    -ms-transform: transform 1s;
    transform: transform 1s;
}

.tp-box__side {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tp-box__front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.tp-box__back {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-wrapper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: transform 1s;
    -ms-transform: transform 1s;
    transform: transform 1s;
}

.mat-chip-list-wrapper {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px;
    /*Below css is added since placing matcard inside matlist shows blue line*/
    outline: none !important;
    outline-style: none !important;
}

.mat-chip-sub-menu {
    /* text-shadow: 1px 3px 2px grey; */
    font-family: Garamond;
    font-style: italic;
}

.mat-chip-sub-menu:hover {
    transform: scale(1.5);
    color: #0033a0;
    font-weight: bold;
}

.list-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    height: inherit;
    justify-content: center;
}

.list-text {
    font-size: 20px;
}

.mat-card {
    display: flex;
    flex-direction: column;
}

.mat-card-header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    color: #0033a0;
    font-size: 20px;
    font-family: Garamond;
    font-weight: bolder;
}

.image-test {
    align-items: center;
    justify-content: center;
    top: -25px;
    margin-left: -37px;
    max-width: 375px;
    min-width: 381px;
    min-height: 74px;
    max-height: 81px;
    position: relative;
}

.text-test {
    position: absolute;
    top: 0;
    min-width: 250px;
    max-width: 250px;
    justify-content: center;
    text-align: center;
    right: 15%;
    color: white;
    font-size: 40px;
    font-family: Garamond;
    font-weight: bold;
}