.mat-chip-menu {
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
    text-align: center;
    border: 1px solid #B7B8BB;
    border-radius: 0px;
    justify-content: center;
    overflow: hidden;
}

.img-zoom {
    transition: transform .4s;
}

.img-zoom:hover {
    transform: scale(1.3);
    transform-origin: 50% 50%;
    opacity: 0.5;
}

.mat-card-image {
    max-height: 300px;
    min-height: 300px;
}

.zoom-wrapper {
    transition: all 0.15s ease-in-out;
}

.zoom-wrapper .zoomed {
    transform: scale(1.25);
}

.mat-chip-add-menu {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    border: 3px dotted #B7B8BB;
    background-color: whitesmoke;
    justify-content: center;
}

.tp-box {
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
    text-align: center;
    border-radius: 0px;
    justify-content: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: transform 1s;
    -ms-transform: transform 1s;
    transform: transform 1s;
}

.tp-box__side {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tp-box__front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.tp-box__back {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-wrapper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: transform 1s;
    -ms-transform: transform 1s;
    transform: transform 1s;
}

.mat-chip-list-wrapper {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 70px!important;
    /*Below css is added since placing matcard inside matlist shows blue line*/
    outline: none !important;
    outline-style: none !important;
}

.mat-chip-sub-menu {
    text-shadow: 1px 3px 2px grey;
    font-family: Garamond;
    font-style: italic;
}

.mat-chip-sub-menu:hover {
    transform: scale(1.5);
}