<div class="example-list" [@listAnimation]="dashboardMainMenus && dashboardMainMenus.length">
    <mat-chip-list class="mat-chip-list-wrapper" *ngFor="let dashboardMenu of dashboardMainMenus" aria-label="Color selection">
        <mat-card class="mat-chip-menu border-test" (click)="onMenuClick(dashboardMenu)">
            <img mat-card-image [src]="dashboardMenu.BackgroundImage && dashboardMenu.BackgroundImage.Url" [alt]="dashboardMenu.BackgroundImage && dashboardMenu.BackgroundImage.Description">
            <!-- <mat-card-footer>
                <strong>{{dashboardMenu.MenuName}}</strong>
            </mat-card-footer> -->
        </mat-card>
        <div @list *ngIf="dashboardMenu.Id === selectedMenuId">
            <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection" *ngIf="getSubMenus(dashboardMenu).length === 0">
                <mat-chip @items class="border-test mat-chip-sub-menu">
                    No list has been added
                </mat-chip>
            </mat-chip-list>
            <div *ngIf="getSubMenus(dashboardMenu).length > 0">
                <mat-chip-list class="mat-chip-list-stacked" *ngFor="let dashboardSubMenu of getSubMenus(dashboardMenu)" aria-label="Color selection">
                    <mat-chip (click)="onSubMenuClick(dashboardSubMenu)" (mouseover)="onSubMenuHover(dashboardSubMenu)" @items class="border-test mat-chip-sub-menu zoom">
                        <strong>{{dashboardSubMenu.MenuName}}</strong>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </mat-chip-list>
    <!-- <mat-chip class="mat-chip-add-menu border-test mat-chip-list-wrapper" (click)="onMenuAdd()">
        <mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon>
    </mat-chip> -->
</div>