.title {
    text-align: center;
    color: #0033a0;
}

.close-icon {
    float: right;
}

.tiles-card {
    margin: 10px!important;
    min-width: 210px;
    min-height: 210px;
    max-width: 210px;
    max-height: 210px;
    border: transparent;
    border-radius: 30px;
    border: 1px solid blue;
    box-shadow: 0 16px 26px -6px rgba(0, 0, 0, .2), 0 8px 12px 0 rgba(0, 0, 0, .14), 0 10px 5px 0 rgba(0, 0, 0, .12) !important;
}

.title-text{
    text-align: center;
    font-size: 2.5vh;
    font-weight: bold;
    overflow: hidden;
    font-family: "candara light";
    color:black;
}

.tiles-title {
    height: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: 1px solid orange;
}

.tiles-content {
text-align: left;
overflow: hidden;
max-height: 70px;
min-height: 70px;
max-width: 150px;
font-size: 1.7vh;
font-family: "candara light";
font-weight: bold;
}

.tiles-content::-webkit-scrollbar {
    width: 2px;
    background: gray;
}

.tiles-title::-webkit-scrollbar {
    width: 2px;
    background: gray;
}

.mat-card-avatar {
    border-radius: 10%;
    flex-shrink: 0;
}

.tiles-image {
    height: 100px;
    object-fit: cover;
}

.tiles-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    max-height: 80vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.attachments{
    display: -webkit-inline-box;
}

.attachments p{
    font-size: small;
    margin:.5vh;
    cursor:pointer;
    font-family: "candara light";
    font-weight:bold;
}

.documents:hover{
    transition: transform .4s;
    transform: scale(1.8); 
}

.attachments img{
    max-width: 12vh;
    min-width: 12vh;
}

.header-text{
    display: unset;
}