<button mat-icon-button class="close-icon">
  <mat-icon  (click)="onClose()" aria-hidden="false" aria-label="close icon">close</mat-icon>
  </button>
<h1 mat-dialog-title class="title">{{data.header}}</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
    <div *ngIf="data.content.length > 0">
        <mat-chip-list class="mat-chip-list-wrapper" *ngFor="let dashboardMenu of data.content" aria-label="Color selection">
            <mat-chip class="mat-chip-menu border-test">
                <strong>{{dashboardMenu.MenuName}}</strong>
            </mat-chip>
        </mat-chip-list>
    </div>
    <ngx-doc-viewer *ngIf="data.content && data.content.documentPath" [url]="data.content && data.content.documentPath" [viewer]="data.content && data.content.viewer" style="width:100%;height:80vh;"></ngx-doc-viewer>
</div>
<div mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{data.footer}}</button>
    <div *ngIf="data.content && data.content.documentPath">
        <form method="get" action="data.content && data.content.documentPath">
            <button type="submit" mat-button>Download</button>
        </form>
    </div>
</div>