html,body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

section {
  position: relative;
  display:flex;
  max-height: 96vh;
  min-height:360px;
  min-width: 938px;
  }

.section a {
  position: absolute;
  bottom: 70px;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'candara light', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  font-size: 25px;
}

.intro{
  position: absolute;
  top:30%;
  left:30px;
  right:0;
}

section a:hover {
  opacity: .5;
}

section img {
position: relative;
width: 100%;
max-width: none;
height: 100%;
top: 0;
left: 0;
}

.footer{
 display: none;
}

@media screen and (min-width: 1085px) {
.footer{
  display: unset;
  position: absolute;
  bottom:50px;
  left:0;
  right:0;
}
}

.footer-arrow{
text-align: center;
}

.footer-text{
text-align: center;
color: #fff;
font: normal 400 20px/1 'candara light', sans-serif;
letter-spacing: .1em;
font-size: 25px;
}

.account-description{
text-align:center;
}

p.contribution {
  margin: 5px;
  background: transparent;
  color:white;
  min-height:100px;
  max-height:100px;
  text-align: center;
  word-break: normal;
  white-space: normal;
  font-family: "candara light";
}

#horizontal-line{
  height: 2px;
  width: 50px;
  background:white;
  transition: width 2s;
  display:inline-block;
}

.title-text{
font-family: "candara light"; 
letter-spacing: .1em;
font-size: 50px;
text-align: left;
color:yellow;
}

.subtitle-text{
top: 10%;
color: #fff;
letter-spacing: .1em;
font-family: "candara light"; 
font-size: 25px;
max-width:70%;
text-align: left;
}

a span {
position: absolute;
top: 10px;
width: 24px;
height: 24px;
margin-left: -12px;
border-left: 1px solid #fff;
border-bottom: 1px solid #fff;
transform: rotate(-45deg);
animation: sdb07 2s infinite;
opacity: 0;
box-sizing: border-box;
cursor: pointer;
}

a span:nth-of-type(1) {
top: 25px;
-webkit-animation-delay: 0s;
animation-delay: 0s;
}

a span:nth-of-type(2) {
top: 40px;
-webkit-animation-delay: .15s;
animation-delay: .15s;
}

a span:nth-of-type(3) {
top: 55px;
-webkit-animation-delay: .3s;
animation-delay: .3s;
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.account-name{
  display: inline-block;
  text-align: center;
  margin-bottom:-30px;
}

.account-name p{
  color:white;
  font-family: "candara light";
  font-size: 50px;
  font-weight: bolder;
  cursor:pointer;
  margin-top:0px;
  }

.text-group{
  position:absolute;
  top: 10%;
  width:100%;
  white-space: nowrap;
  text-align: center;
  height:100%;
  }

.account-info{
  width:25%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  }  

  .bounce-arrow {
  /* position: absolute; */
  float: right;
  width: 40px;
  height: 40px;
  background-image: url(https://cdn2.iconfinder.com/data/icons/arrows-part-1/32/tiny-arrow-left-1-512.png);
  background-size: contain;
  }
  
  .bounce {
  animation:bounce 2s infinite;
  }

  @keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
  transform:translateY(0);
  }
  40% {
  transform:translateX(-50px);
  }
  60% {
    transform:translateX(-40px);
  }
  }

.account-naviagtion a{
  top:10px;
  position: relative;
  color:white;
  font-family: "candara light";
  left:5%;
}

.account-navigation{
  position: absolute;
  display: inline-block;
}