.mat-chip-menu {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    text-align: center;
    border: 1px solid #B7B8BB;
    background-color: white;
    justify-content: center;
}

.mat-chip-add-menu {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    border: 3px dotted #B7B8BB;
    background-color: white;
    justify-content: center;
}

.mat-chip-list-wrapper {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 100px!important;
}

.mat-chip-sub-menu {
    margin: 15px !important;
    max-width: 500px;
    background-color: #6c5495;
    font-size: 15px;
}

.border-test {
    border-radius: 0px;
}
