.mat-chip-menu {
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
    text-align: center;
    border: 1px solid #B7B8BB;
    justify-content: center;
}

.mat-card-image {
    max-height: 230px;
}

.odd {
    background-color: #f4633a;
}

.even {
    background-color: #ff8f1c;
}

.mat-chip-add-menu {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    border: 3px dotted #B7B8BB;
    background-color: white;
    justify-content: center;
}

.mat-chip-list-wrapper {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 70px!important;
    /*Below css is added since placing matcard inside matlist shows blue line*/
    outline: none !important;
    outline-style: none !important;
}

.mat-chip-sub-menu {
    margin: 15px !important;
    max-width: 500px;
    background-color: #6c5495;
    font-size: 15px;
}

.border-test {
    border-radius: 0px;
}