<div>
    <h2>{{yearOption}} - {{graphType}}</h2>
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
        style="width: 100%; height: 600px; display: block;"></highcharts-chart>
</div>
<div>
    <label>Current Filter Year: </label>
    <mat-form-field>
        <mat-select [(ngModel)]='yearOption' (ngModelChange)="onYearChange($event)">
            <mat-option *ngFor="let yearOption of yearOptions" [value]="yearOption">{{yearOption}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="btn-group">
    <button value="Overall" (click)='onTeamViewTypeChange($event)'>Overall</button>
    <button value="Billable roles" (click)='onTeamViewTypeChange($event)'>Billable roles</button>
    <button value="Buffer" (click)='onTeamViewTypeChange($event)'>Buffer</button>
</div>