.btn-group button {
    background-color: #9a88a0;
    color: rgb(15, 11, 11); 
    padding: 10px 24px; 
    cursor: pointer;
    float: left;
  }
  
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; 
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #4c424e;
  }

  .btn-group button:focus {
    background-color: #4c424e;
  }
  
